.csssize {
  height: 6200px;
}

.t-body {
  margin: 0;
}

#allrecords {
  -webkit-font-smoothing: antialiased;
  background-color: none;
}

#allrecords a {
  color: #ff8562;
  text-decoration: none;
}

#allrecords a,
#allrecords button {
  outline: none;
}

#allrecords a:focus-visible,
#allrecords button:focus-visible,
#allrecords .t-focusable {
  outline-style: solid;
  outline-color: rgba(0, 150, 255, 1);
  outline-width: 3px;
  outline-offset: 3px;
}

#allrecords a[href^="tel"] {
  color: inherit;
  text-decoration: none;
}

#allrecords ol {
  padding-left: 22px;
}

#allrecords ul {
  padding-left: 20px;
}

#allrecords b,
#allrecords strong {
  font-weight: 700;
}

@media print {
  body,
  html {
    min-width: 1200px;
    max-width: 1200px;
    padding: 0;
    margin: 0 auto;
    border: none;
  }
}

.t-records {
  -webkit-font_smoothing: antialiased;
  background-color: none;
}

.t-records a {
  color: #ff8562;
  text-decoration: none;
}

.t-records a[href^="tel"] {
  color: inherit;
  text-decoration: none;
}

.t-records ol {
  padding-left: 22px;
  margin-top: 0;
  margin-bottom: 10px;
}

.t-records ul {
  padding-left: 20px;
  margin-top: 0;
  margin-bottom: 10px;
}

.t-mbfix {
  opacity: 0.01;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  position: fixed;
  width: 100%;
  height: 500px;
  background-color: white;
  top: 0;
  left: 0;
  z-index: 10000;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

.t-mbfix_hide {
  -webkit-transform: translateX(3000px);
  -ms-transform: translateX(3000px);
  transform: translateX(3000px);
}

img:not([src]) {
  visibility: hidden;
}

.t-body_scroll-locked {
  position: fixed;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.r_anim {
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.r_hidden {
  opacity: 0;
}

.r_showed {
  opacity: 1;
}

.t-text {
  font-family: "Ubuntu", Arial, sans-serif;
  font-weight: 300;
  color: #000000;
}

.t-text_xs {
  font-size: 15px;
  line-height: 1.55;
}

.t-text_sm {
  font-size: 18px;
  line-height: 1.55;
}

.t-text_md {
  font-size: 20px;
  line-height: 1.55;
}

.t-name {
  font-family: "Yanone Kaffeesatz", Arial, sans-serif;
  font-weight: 600;
  color: #000000;
}

.t-name_xs {
  font-size: 16px;
  line-height: 1.35;
}

.t-title {
  font-family: "Yanone Kaffeesatz", Arial, sans-serif;
  font-weight: 600;
  color: #000000;
}

.t-title_xxs {
  font-size: 36px;
  line-height: 1.23;
}

.t-descr {
  font-family: "Yanone Kaffeesatz", Arial, sans-serif;
  font-weight: 300;
  color: #000000;
}

.t-descr_xxs {
  font-size: 14px;
  line-height: 1.55;
}

.t-descr_xs {
  font-size: 16px;
  line-height: 1.55;
}

.t-btn {
  display: inline-block;
  font-family: "Yanone Kaffeesatz", Arial, sans-serif;
  border: 0 none;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  font-weight: 700;
  background-image: none;
  cursor: pointer;
  -webkit-appearance: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.t-btn td {
  vertical-align: middle;
}

.t-btn_sending {
  opacity: 0.5;
}

.t-align_center {
  text-align: center;
}

.t-margin_auto {
  margin-left: auto;
  margin-right: auto;
}

.t-popup {
  display: none;
}

.t-submit {
  font-family: "Yanone Kaffeesatz", Arial, sans-serif;
}

.t-input {
  font-family: "Yanone Kaffeesatz", Arial, sans-serif;
}

.t-input__vis-ph {
  font-family: "Yanone Kaffeesatz", Arial, sans-serif;
}

.t-select {
  font-family: "Yanone Kaffeesatz", Arial, sans-serif;
}

.t-input-error {
  font-family: "Ubuntu", Arial, sans-serif;
}

.t-form__errorbox-wrapper {
  font-family: "Ubuntu", Arial, sans-serif;
}

.t-form__errorbox-text {
  font-family: "Ubuntu", Arial, sans-serif;
}

.t-form__errorbox-item {
  font-family: "Ubuntu", Arial, sans-serif;
}

.t-form__successbox {
  font-family: "Ubuntu", Arial, sans-serif;
}

.t-rec_pt_30 {
  padding-top: 30px;
}

.t-rec_pt_60 {
  padding-top: 60px;
}

.t-rec_pt_105 {
  padding-top: 105px;
}

.t-rec_pb_0 {
  padding-bottom: 0;
}

.t-rec_pb_90 {
  padding-bottom: 90px;
}

.t-rec_pb_120 {
  padding-bottom: 120px;
}

@media screen and (max-width: 1200px) {
  .t-text_xs {
    font-size: 14px;
  }

  .t-text_sm {
    font-size: 16px;
  }

  .t-text_md {
    font-size: 18px;
  }

  .t-descr_xxs {
    font-size: 12px;
  }

  .t-descr_xs {
    font-size: 14px;
  }

  .t-title_xxs {
    font-size: 32px;
  }

  .t-name_xs {
    font-size: 14px;
  }
}

@media screen and (max-width: 640px) {
  .t-text_xs {
    font-size: 12px;
    line-height: 1.45;
  }

  .t-text_sm {
    font-size: 14px;
    line-height: 1.45;
  }

  .t-text_md {
    font-size: 16px;
    line-height: 1.45;
  }

  .t-descr_xs {
    font-size: 12px;
    line-height: 1.45;
  }

  .t-title_xxs {
    font-size: 28px;
  }

  .t-name_xs {
    font-size: 12px;
  }

  .t-btn {
    white-space: normal;
  }
}

@media screen and (max-width: 480px) {
  .t-rec_pt_30 {
    padding-top: 30px;
  }

  .t-rec_pt_60 {
    padding-top: 60px;
  }

  .t-rec_pt_105 {
    padding-top: 90px;
  }

  .t-rec_pb_0 {
    padding-bottom: 0;
  }

  .t-rec_pb_90 {
    padding-bottom: 90px;
  }

  .t-rec_pb_120 {
    padding-bottom: 90px !important;
  }

  .t-rec_pt-res-480_30 {
    padding-top: 30px !important;
  }

  .t-rec_pb-res-480_0 {
    padding-bottom: 0 !important;
  }
}

@media screen and (max-width: 1200px) {
  .t-screenmin-1200px {
    display: none;
  }
}

@media screen and (max-width: 980px) {
  .t-screenmin-980px {
    display: none;
  }
}

@media screen and (max-width: 640px) {
  .t-screenmin-640px {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .t-screenmin-480px {
    display: none;
  }
}

@media screen and (max-width: 320px) {
  .t-screenmin-320px {
    display: none;
  }
}

@media screen and (min-width: 321px) {
  .t-screenmax-320px {
    display: none;
  }
}

@media screen and (min-width: 481px) {
  .t-screenmax-480px {
    display: none;
  }
}

@media screen and (min-width: 641px) {
  .t-screenmax-640px {
    display: none;
  }
}

@media screen and (min-width: 981px) {
  .t-screenmax-980px {
    display: none;
  }
}

@media screen and (min-width: 1201px) {
  .t-screenmax-1200px {
    display: none;
  }
}

.t396 {
  -webkit-text-size-adjust: 100%;
}

.t396__iframe {
  z-index: 10000;
  background-color: #fff;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  border: 0;
}

.t396__body_overflow_hidden {
  overflow: hidden;
}

.t396__display_none {
  display: none;
}

.t396__artboard {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.t396__artboard .t396__artboard_scale {
  overflow: visible;
}

.t396__artboard.t396__artboard_scale
  .t396__elem[data-elem-type="text"]
  .tn-atom {
  word-break: normal;
  -moz-osx-font-smoothing: grayscale;
}

.t396__artboard_scale .t396__carrier,
.t396__artboard_scale .t396__filter {
  transform-origin: top left;
}

.tn-atom__scale-wrapper {
  width: inherit;
  height: inherit;
}

.t396__elem .tn-atom__scale-wrapper .tn-atom {
  width: inherit;
  height: inherit !important;
  box-sizing: border-box;
}

.t396__artboard.rendering .tn-elem {
  visibility: hidden;
}

.t396__artboard.rendered .tn-elem {
  visibility: visible;
}

.t396__carrier {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
  width: 100%;
  height: 100vh;
  -moz-transform: unset;
}

.t396__filter {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100vh;
  transform: translateZ(0);
}

.t396__elem {
  position: absolute;
  box-sizing: border-box;
  display: table;
}

.t396 .tn-atom {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

@media screen and (max-width: 959px) {
  .t396_safari .t396__artboard_scale .tn-atom {
    -webkit-text-size-adjust: auto;
    -moz-text-size-adjust: auto;
    -ms-text-size-adjust: auto;
  }
}

.t396 .tn-atom ul,
.t396 .tn-atom ol {
  margin-bottom: 0;
}

.t396_safari .tn-atom {
  transform: translateZ(0);
}

.t396 a.tn-atom {
  text-decoration: none;
}

.t396 .tn-atom__img {
  width: 100%;
  display: block;
}

.t396 .tn-atom__html {
  vertical-align: top;
}

.t396 .tn-atom__pin {
  border-radius: 1000px;
  border-style: solid;
}

.t396 .tn-atom__pin_onclick {
  cursor: pointer;
}

.t396 .tn-atom__tip {
  position: absolute;
  box-sizing: border-box;
  width: 300px;
  max-width: 90vw;
  padding: 15px;
  display: none;
}

.t396 .tn-atom__pin:hover .tn-atom__tip {
  display: none;
}

.t396 .tn-atom__tip-img {
  width: 100%;
  display: block;
  margin-bottom: 10px;
}

.t396 .tn-atom__tip[data-tip-pos="top"] {
  bottom: 100%;
  margin-bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
}

.t396 .tn-atom__tip[data-tip-pos="bottom"] {
  top: 100%;
  margin-top: 15px;
  left: 50%;
  transform: translateX(-50%);
}

.t396 .tn-atom__tip[data-tip-pos="left"] {
  right: 100%;
  margin-right: 15px;
  top: 50%;
  transform: translateY(-50%);
}

.t396 .tn-atom__tip[data-tip-pos="right"] {
  left: 100%;
  margin-left: 15px;
  top: 50%;
  transform: translateY(-50%);
}

.t396__ui {
  position: absolute;
  top: 16px;
  left: 196px;
  background-color: #fa876b;
  color: #000 !important;
  height: 30px;
  line-height: 30px;
  width: 100px;
  z-index: 1000;
  text-align: center;
  border-radius: 3px;
  display: none;
  font-size: 14px;
}

.t396__artboard.t396__artboard-fixed-active {
  transform: none !important;
  opacity: 1 !important;
}

.t396__artboard-fixed-no-bg,
.t396__artboard-fixed-innactive,
.t396__artboard-fixed-innactive .t396__elem {
  pointer-events: none;
}

.t396__artboard-fixed-no-bg .t396__elem {
  pointer-events: auto;
}

.t396__elem_outside-hide {
  display: none;
}

.t123__centeredContainer {
  text-align: center;
}

.t395__col {
  margin: 0 auto;
}

.t395__wrapper {
  display: table;
  width: 100%;
}

#allrecords .t395__wrapper {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.t-rec[role="tabpanel"] {
  outline: none;
}

.t395__tab {
  display: table-cell;
  vertical-align: middle;
  border-right: none !important;
  position: relative;
  min-width: fit-content;
}

.t395__tab.t395__tab_active:after {
  content: " ";
  position: absolute;
  z-index: 1;
}

.t395__wrapper_mobile-flex .t395__tab.t395__tab_active:nth-last-child(2):after {
  display: none;
}

.t395__tab_active:last-child:after {
  display: none;
}

.t395__title {
  width: 100%;
  padding: 18px 22px;
  box-sizing: border-box;
  color: #777;
  background-color: transparent;
  border: none;
  transition: font-weight, color 0.3s ease;
  text-align: inherit;
  cursor: pointer;
}

.t395__title:focus-visible {
  outline: 1px solid transparent;
  box-shadow: inset 0 0 0 2px #4d90fe;
}

.t395__tab_active .t395__title {
  color: #ff8562;
  cursor: default;
}

.t395__width_12 {
  width: 12.5%;
}

.t395__width_14 {
  width: 14.28%;
}

.t395__width_16 {
  width: 16.66%;
}

.t395__width_20 {
  width: 20%;
}

.t395__width_25 {
  width: 25%;
}

.t395__width_33 {
  width: 33.3%;
}

.t395__width_50 {
  width: 50%;
}

.t395__width_100 {
  width: 100%;
}

.t379__off,
.t395__off:not([data-record-type="396"]) {
  display: none !important;
}

.t395__off[data-record-type="396"] {
  opacity: 0 !important;
  height: 0 !important;
  max-height: 0 !important;
  min-height: 0 !important;
  pointer-events: none !important;
  overflow: hidden !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.t395__select {
  -webkit-appearance: none;
  padding: 16px 20px;
  width: 100%;
  box-sizing: border-box;
  background-color: transparent;
  border-radius: 0;
  border: 1px solid;
  outline: none;
  margin: 0;
  font-size: 16px;
}

.t395__wrapper_mobile {
  position: relative;
  display: none;
}

.t395__wrapper_mobile:after {
  content: " ";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 4px 0 4px;
  position: absolute;
  top: 50%;
  right: 20px;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.t395__firefoxfix {
  width: 16px;
  position: absolute;
  top: 1px;
  right: 1px;
  bottom: 1px;
  pointer-events: none;
}

.t395 .t-align_left .t395__tab_active {
  position: relative;
}

.t395__separator_mobile {
  display: none;
}

@media screen and (max-width: 960px) {
  .t395__col {
    padding: 0 20px;
    box-sizing: border-box;
  }

  .t395__wrapper_mobile {
    display: block;
  }

  .t395__wrapper {
    display: none;
  }

  .t395__col_mobile-flex {
    width: 100%;
    padding: 0 0 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
  }

  .t395__wrapper_mobile-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .t395__wrapper_mobile-flex + .t395__wrapper_mobile {
    display: none;
  }

  .t395__select {
    padding-right: 40px;
  }
}

@media screen and (max-width: 640px) {
  .t395__col_mobile-flex {
    max-width: 100%;
    width: 100%;
    margin-right: 0;
  }

  #allrecords .t395__wrapper_mobile-flex {
    padding-left: 20px;
  }

  .t395__separator_mobile {
    display: table-cell;
    min-width: 20px;
    width: 20px;
    height: 100%;
  }
}

.t746 .t-popup__container {
  background-color: transparent;
}

.t746__imgwrapper {
  position: relative;
}

.t746__imgwrapper .t-slds__bgimg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.t746__title,
.t746__descr {
  color: #fff;
}

.t746__play {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
}

.t746__play_icon {
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  width: 80px;
  height: 80px;
  margin: 0 auto;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: all ease-in-out 0.2s;
  -moz-transition: all ease-in-out 0.2s;
  -o-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
}

.t746__play:hover .t746__play_icon {
  -moz-transform: translateY(-50%) scale(1.15);
  -ms-transform: translateY(-50%) scale(1.15);
  -webkit-transform: translateY(-50%) scale(1.15);
  -o-transform: translateY(-50%) scale(1.15);
  transform: translateY(-50%) scale(1.15);
}

.t746__frame {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.t746 .t-slds__wrapper {
  padding: 0 !important;
}

.t746 .t-slds__arrow_wrapper {
  height: auto !important;
}

.t746 .t-popup__block-close {
  z-index: 999;
  padding: 0;
}

.t746 .t-slds_animated-none .t-slds__item.t-slds__item_active {
  z-index: 1;
}

@media screen and (max-width: 960px) {
  .t746 .t-popup__container {
    right: 0;
    left: 0;
  }

  .t746 .t-popup {
    padding: 0;
  }

  .t746 .t-slds__caption__container {
    padding: 0 20px;
  }
}

.uploadcare-dialog.uploadcare-active {
  z-index: 9999999;
}

.t702__body_popupshowed {
  -webkit-overflow-scrolling: touch !important;
}

.t702 .t702__wrapper {
  padding: 40px 45px;
}

.t702 .t702__title {
  margin-bottom: 11px;
}

.t702 .t702__text-wrapper {
  margin-bottom: 24px;
}

.t702 .t702__text {
  margin-top: 20px;
}

.t702 .t702__img {
  width: 100%;
  display: block;
  margin-top: -1px;
}

@media screen and (max-width: 640px) {
  .t702 .t702__title {
    margin-bottom: 6px;
  }

  .t702 .t702__text-wrapper {
    margin-bottom: 14px;
  }

  .t702 .t702__wrapper {
    padding: 20px;
  }
}

.t702 .t-form__errorbox-item {
  word-break: break-word;
}

.t702 .t-form__inputsbox {
  -webkit-transition: max-height 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  transition: max-height 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  max-height: 20000px;
}

.t702 .t702__inputsbox_hidden.t-form__inputsbox {
  overflow: hidden;
  max-height: 0;
  opacity: 0;
}

.t702 .t-input-group {
  margin-bottom: 25px;
}

.t702 .t-input {
  background-color: transparent;
  -webkit-appearance: none;
}

.t702 .t-input::-ms-clear {
  width: 0;
  height: 0;
}

.t702 .t-input-block textarea {
  padding-top: 17px;
  background-color: transparent;
}

.t702 .t-input-block textarea.t-input_pvis {
  padding-top: 26px;
}

.t702 .t-input-title {
  padding-bottom: 5px;
}

.t702 .t-input-subtitle {
  padding-bottom: 15px;
}

.t702 .t-input-group_rd .t-input-subtitle {
  padding-bottom: 5px;
}

.t702 .t-inputtime,
.t702 .t-datepicker__wrapper {
  max-width: 245px;
}

.t702 .t-form__submit {
  display: block;
  text-align: center;
  vertical-align: middle;
  height: 100%;
  width: 100%;
  margin-top: 25px;
}

.t702 .t-submit {
  width: 100%;
  height: 54px;
  -webkit-appearance: none;
}

.t702 .t-form_bbonly .t-input-title {
  padding-bottom: 0;
  margin-bottom: 0;
}

.t702 .t-form_bbonly .t-input-subtitle {
  padding-bottom: 0;
  padding-top: 5px;
}

.t702 .t-form__inputsbox .t-input-group_st .t-input-block {
  display: none;
  margin-bottom: 0;
}

.t702 .t702__form-bottom-text {
  margin-top: 20px;
}

@media screen and (max-width: 640px) {
  .t702 .t-input-group {
    margin-bottom: 20px;
  }

  .t702 .t-input-block textarea {
    padding-top: 12px;
  }

  .t702 .t-submit,
  .t702 .t-input {
    height: 50px;
    font-size: 16px;
  }

  .t702 .t-input {
    padding: 0 14px;
  }

  .t702 .t-input__vis-ph {
    top: 17px;
  }

  .t702 .t-input_pvis {
    padding: 22px 20px 10px 20px;
  }

  .t702 .t-input-block textarea.t-input_pvis {
    padding-top: 22px;
  }
}

@media screen and (max-width: 480px) {
  .t702 .t-inputtime,
  .t702 .t-datepicker__wrapper {
    max-width: 100%;
  }
}

@media screen and (max-width: 560px) {
  .t702 .t-popup_show .t-popup__container {
    max-width: 100%;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    padding-top: 50px;
    margin: 0;
    box-sizing: border-box;
    min-height: 100vh;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    position: relative;
  }

  .t702 .t-popup {
    padding: 0;
  }

  .t702 .t-popup__block-close {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 50px;
    background: #000;
  }

  .t702 .t-popup__block-close-button {
    display: table-cell;
    vertical-align: middle;
    width: 16px;
    margin-right: 10px;
    padding: 10px;
    font-size: 0;
    text-align: right;
  }

  .t702 .t-popup__close-icon {
    width: 16px;
    height: 16px;
  }
}
